$color-warning: #ffd000;
$color-neutral: #b0e9ad;
$color-danger: #ff3460;
$color-success: #3cc44e;

html,
body {
  height: 100%;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

#options-button {
  position: absolute;
  right: 0;
  top: 10vh;
  transform: translate(5px, 0);
}

.whitespace {
  white-space: pre;
}

.vh-100 {
  height: 100vh;
}

.vw-100 {
  width: 100vw;
}

.vw-50 {
  width: 50vw;
}

.no-user-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.bg-lightcyan {
  background-color: lightcyan !important;
}

.pseudocode-highlight {
  background-color: $color-warning;
  width: fit-content;
}

.sorting-node {
  width: 50px;
  border: black solid 2px;
  background-color: $color-neutral;
  &-current {
    background-color: $color-warning;
  }
  &-sorted {
    background-color: $color-danger;
  }
  &-pivot {
    background-color: $color-success;
  }
}

.pathfinding-node {
  background-color: white;
  border: 1px solid black;
  &-start {
    background-color: $color-success;
  }
  &-end {
    background-color: $color-danger;
  }
  &-wall {
    background-color: #292929;
  }
  &-visited {
    background-color: $color-neutral;
  }
  &-path {
    background-color: $color-warning;
  }
}

.algorithm-select-box {
  &:hover {
    text-decoration: none;
    background-color: lightblue;
    color: cornflowerblue;
  }
  text-align: center;
  color: white;
  width: 25vw;
  height: 50vh;
  min-width: 300px;
  padding: 2%;
  margin: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: cornflowerblue;
  box-shadow: 3px 3px 10px grey;
  img {
    height: 250px;
    max-height: 25vh;
    width: 250px;
    max-width: 25vh;
  }
}

/* src: http://danielstern.ca/range.css/#/ */
input[type='range'] {
  width: 100%;
  margin: 7.3px 0;
  background-color: transparent;
  -webkit-appearance: none;
  &::-webkit-slider-runnable-track {
    background: rgba(48, 113, 169, 0.78);
    border: 0.2px solid #010101;
    border-radius: 1.3px;
    width: 100%;
    height: 11.4px;
    cursor: pointer;
  }
  &::-webkit-slider-thumb {
    margin-top: -7.5px;
    width: 26px;
    height: 26px;
    background: #ffffff;
    border: 1.8px solid #00001e;
    border-radius: 15px;
    cursor: pointer;
    -webkit-appearance: none;
  }
  &::-moz-range-track {
    background: rgba(48, 113, 169, 0.78);
    border: 0.2px solid #010101;
    border-radius: 1.3px;
    width: 100%;
    height: 11.4px;
    cursor: pointer;
  }
  &::-moz-range-thumb {
    width: 26px;
    height: 26px;
    background: #ffffff;
    border: 1.8px solid #00001e;
    border-radius: 15px;
    cursor: pointer;
  }
  &:focus {
    outline: none;
    &::-webkit-slider-runnable-track {
      background: #3781c1;
    }
  }
}

@supports (-ms-ime-align: auto) {
  input[type='range'] {
    margin: 0;
  }
}
